body {
  background-color: rgb(0, 155, 155);
}

.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.square {
  font-family: "Monocraft", Helvetica;
  background-color: rgb(207, 255, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  border: 1px solid transparent;
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: -1px;
  cursor: pointer;
}

.restart-btn {
  font-size: 20px;
  font-family: "Monocraft";
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(170, 255, 255);
  transition: all 0.3s ease;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: rgb(115, 255, 255);
}
